@font-face {
    font-family: Muller;
    src: url(../fonts/muller/MullerRegular.woff2) format(woff2),
         url(../fonts/muller/MullerRegular.woff) format(woff);
    font-display: swap;
    font-weight: 400;
	  font-style: normal;
    font-stretch: normal;
}
@font-face {
  font-family: Muller;
  src: url(../fonts/muller/MullerMedium.woff2) format(woff2),
       url(../fonts/muller/MullerMedium.woff) format(woff);
  font-display: swap;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: Muller;
  src: url(../fonts/muller/MullerRegularItalic.woff2) format(woff2),
       url(../fonts/muller/MullerRegularItalic.woff) format(woff);
  font-display: swap;
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
}
@font-face {
  font-family: Muller;
  src: url(../fonts/muller/MullerBold.woff2) format(woff2),
       url(../fonts/muller/MullerBold.woff) format(woff);
  font-display: swap;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url(../fonts/open__sans/OpenSans-Regular.woff2) format(woff2),
       url(../fonts/open__sans/OpenSans-Regular.woff) format(woff);
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: Muller;
  src: url(../fonts/muller/MullerLightItalic.woff2) format(woff2),
       url(../fonts/muller/MullerLightItalic.woff) format(woff);
  font-display: swap;
  font-weight: 300;
  font-style: italic;
  font-stretch: normal;
}
/* ---------------------------------------------------------globe------------------------------------------------------------ */
html {
    /* -webkit-box-sizing: border-box; */
    box-sizing: border-box;
  }
  *,
  *::before,
  *::after {
    /* -webkit-box-sizing: inherit; */
    box-sizing: inherit;
  }
  a {
    color: inherit;
    text-decoration: none;
  }
  img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }
  body {
    min-width: 320px;
    font-family: Muller, Sans-Serif;
  }
.container {
    margin: 0 auto;
    max-width: 1310px;
    padding-left: 100px;
    padding-right: 100px;
  }
  .list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .btn-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  .flex {
    /* display: -webkit-box; */
    /* display: -ms-flexbox; */
    display: flex;
  }
  .grid {
    display: grid;
  }
:root {
  --main__text-color: #121723;
}


  /* ---------------------------------------------------------header------------------------------------------------------------ */

.header__container {
  flex-direction: column;
    /* margin-bottom: 94px; */
}
.header__top {
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 20px 0;
}
.header__logo svg {
  display: flex;
  align-self: center;
}
.item__link {
  display: flex;
  align-self: center;
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: var(--main__text-color);
}
.list__item:not(:last-child) {
  margin-right: 58.75px;
}
.item__link:hover {
  color: #6D31EE;
  transition: color 0.3s ease-in-out; 
}
.item__link:focus {
  padding: 4px 10px;
  background: #AA9DFA;
  color: #ffffff;
  transition: background 0.3s ease-in-out; 
}
.item__link:active {
  color: #4F28A5;
  transition: color 0.3s ease-in-out;
}
.header__button {
  padding: 10px 30.6px;
  font-family: 'Muller';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: var(--main__text-color);
  border: 2px solid var(--main__text-color);
  border-radius: 77px;
  transition: background 0.7s ease-out, color 0.7s ease-out;
}
.header__button:hover {
  color: #ffffff;
  background: #121723;
}
.header__button:focus {
  background: #AA9DFA;
  border-radius: 100px;
}
.header__button:active {
  color: #ffffff;
  background: #4F28A5;
  border: #4F28A5;
}
.header__search-bar {
  display: flex;
  align-self: center;
  position: relative;
}
.input__group-header {
  gap: 0 30px;
}
.header {
  border-bottom: 1px solid #E6E8EC;
}
.bottom__list-item-link {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--main__text-color);
  transition: color 0.7s ease-out;
}
.bottom__list-item:not(:last-child) {
  margin-right: 52px;
}
.bottom__list-item-link:hover {
  color: #6D31EE;
}
.bottom__list-item-link:active {
  color: #4F28A5;
}
.bottom__list-item-link:focus {
  padding: 3px 5.5px 1px 5.5px;
  background: #AA9DFA;
  color: #FFFFFF;
  border: 1px dotted #AA9DFA;
}
.descr__one {
  margin-bottom: 5px;
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #A1A6B4;
}
.descr__two {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--main__text-color);
}
.age__restriction {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 6px;
  width: 46px;
  height: 60px;
  background: #E6E8EC;
}
.age__restriction-descr {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px;
  gap: 10px;
  width: 30px;
  height: 30px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #A1A6B4;
  background: #FFFFFF;
  border-radius: 100px;
}
.station {
  padding-left: 15px;
  max-width: 175px;
  gap: 0 8px;
  border-right: 1px solid #E6E8EC;
}
.stations__list {
  border-left: 1px solid #E6E8EC;
}
.station__button {
  display: flex;
  align-items: center;
}
.dropdown__menu {
  display: flex;
}
.station:last-child {
  padding: 0px 38px 0px 13px;
}
.station:first-child {
  padding: 0px 46px 0px 13px;
}
.station__button path {
  transition: fill 0.7s ease-out;
}
.station__button:hover path {
  fill: #6D31EE;
}
.station__button:focus path {
  fill: #AA9DFA;
}
.station__button:active path {
  fill: #4F28A5;
}
.svg-hidden {
  display: none;
}
.svg-visible {
  display: inline-block;
}
.header__bottom {
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #E6E8EC;
}
.burger__menu {
  display: none;
}
.search__input {
  display: none;
  border: 0;
  z-index: 5;
}
.search__input-active {
  display: flex;
  position: absolute;
  right: 26px;
  padding: 5px 0 3px 4px;
  margin: 0;
  max-width: 278px;
  border: none;
  border-bottom: 1px solid#6D31EE;
  background: #FFFFFF;
  z-index: 1;
}
.search__input-active:active path {
  stroke: #6D31EE;
}
.search__area {
  margin: 0;
  align-items: center;
}
.search__icon path {
  transition: stroke 0.7s ease-out;
}
.search__icon:hover path {
  stroke: #AA9DFA;
}
.search__icon:focus path {
  stroke: #AA9DFA;
}
.search__icon:active path {
  stroke:#4F28A5;
}
.header__bottom-playbtn-768 {
  display: none;
}
.station__list-title {
  display: none;
}
/* ---------------------------------------------------------hero------------------------------------------------------------ */

.hero__container {
  background-image: url(../img/hero-img/microphone__hero.png);
  background-repeat: no-repeat;
  background-position: right 100px bottom 40px;
}
.hero__content {
  padding: 94px 0;
  /* max-width: 633px; */
  max-width: 50%;
}
.hero__content-title {
  margin: 0 0 14px 0;
  font-family: 'Muller';
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 100%;
  color: var(--main__text-color);
}
.title__mod {
font-style: italic;
font-weight: 400;
}
.hero__content-descr {
  margin: 0 0 44px 0;
  font-family: Muller;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--main__text-color);
}
.hero__content-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 25px 54px;
  gap: 10px;
  font-family: 'Muller';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #FFFFFF;
  background: #6D31EE;
  border-radius: 40px;
  transition: background 0.7s ease-out;
}
.hero__content-button:hover {
  background: #AA9DFA;
}
.hero__content-button:active {
  background: #4F28A5;
}
.hero__content-button:focus {
  background: #AA9DFA;
}

/* ---------------------------------------------------------podcasts------------------------------------------------------------ */

.podcasts {
  background-color: #E6E8EC;
}
.podcasts__container {
  display: flex;
  flex-direction: column;
  padding-top: 94px;
}
.podcasts__title {
  margin: 0 0 30px 0;
  width: fit-content;
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 100%;
  color: var(--main__text-color);
}
.podcasts__list {
  margin: 0 0 60px 0;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 30px;
}
.podcasts__list-item {
  position: relative;
}
.podcasts__list-item .item__descr-button circle,
.podcasts__list-item .item__descr-button path  {
  transition: fill 0.7s ease-out, stroke 0.7s ease-out;
}
.podcasts__list-item:hover .item__descr-button circle {
  stroke:#6D31EE;
}
.podcasts__list-item:hover .item__descr-button path {
  fill: #6D31EE;
}
.podcasts__list-item:focus .item__descr-button circle {
  stroke:#AA9DFA;
}
.podcasts__list-item:focus .item__descr-button path {
  fill: #AA9DFA;
}
.podcasts__list-item:active .item__descr-button circle {
  fill: #4F28A5;
}
.podcasts__list-item:active .item__descr-button path {
  fill: #ffffff;
}
.list_item-date {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 3px 9px;
  display: flex;
  align-items: center;
  font-family: 'Muller';
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  color: #121723;
  background-color: #E6E8EC;
}
.podcasts__img {
  display: flex;
}
.item__descr-time {
  margin: 0 0 8px 0;
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: var(--main__text-color);
}
.item__desr-title {
  margin: 0 0 4px 0;
  padding: 1px 0 0 0;
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: var(--main__text-color);
}
.item__descr-text {
  margin: 0;
  padding: 0;
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #A1A6B4;
}
.item__content-top {
  padding: 20px 33px 22px 30px;
  justify-content: space-between;
  width: 100%;
}
.item__content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #FFFFFF;
  width: 79%;
}
.action__play-count,
.action__like-count, 
.action__share-count {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #A1A6B4;
}
.item__content-bottom {
  display: flex;
  padding: 7px 0 0 30px;
  gap: 0 33px;
  border-top: 1px solid #E6E8EC;
}
.item__descr-button {
  display: flex;
  align-self: center;
}
.load__more-btn {
  align-self: center;
  padding: 23px 54px;
  margin-bottom: 95px;
  font-family: 'Muller';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: #6D31EE;
  border: 2px solid #6D31EE;
  border-radius: 40px;
  transition: color 0.7s ease-out, background 0.7s ease-out;
}
.load__more-btn:hover {
  color: #FFFFFF;
  background: #6D31EE;
}
.load__more-btn:focus {
  color: #FFFFFF;
  background: #AA9DFA;
  border-radius: 100px;
}
.load__more-btn:active {
  color: #FFFFFF;
  background: #4F28A5;
}
.action__like-btn path {
  transition: fill 0.7s ease-out, stroke 0.7s ease-out;
}
.action__like-btn:hover path {
  stroke: none;
  fill: #6D31EE;
}
.action__like-btn .action__like-count {
  transition: color 0.7s ease-out;
}
.action__like-btn:hover .action__like-count {
  color: #6D31EE;
}
.action__like-btn {
  transition: color 0.7s ease-out, fill 0.7s ease-out, stroke 0.7s ease-out, background 0.7s ease-out;
}
.action__like-btn:focus path {
  stroke: none;
  fill: #FFFFFF;
}
.action__like-btn:focus .action__like-count {
  color: #FFFFFF;
}
.action__like-btn:focus {
  background: #AA9DFA;
}
.action__like-btn:active path {
  stroke: none;
  fill: #4F28A5;
}
.action__like-btn:active .action__like-count {
  color: #4F28A5;
}
.action__share-btn path {
  transition: fill 0.7s ease-out, stroke 0.7s ease-out;
}
.action__share-btn:hover path {
  stroke: none;
  fill: #6D31EE;
  /* stroke-width: 0.2;
  fill-rule: evenodd; */
}
.action__share-btn .action__share-count{
  transition: color 0.7s ease-out, background 0.7s ease-out;
}
.action__share-btn:hover .action__share-count {
  color: #6D31EE;
}
.action__share-btn:focus path {
  fill: #FFFFFF;
  stroke: none;
}
.action__share-btn:focus .action__share-count {
  color: #FFFFFF;
}
.action__share-btn:focus {
  background: #AA9DFA;
}
.action__share-btn:active path {
  stroke: none;
  fill: #4F28A5;
}
.action__share-btn:active .action__share-count {
  color: #4F28A5;
}
.action__play-btn path {
  transition: fill 0.7s ease-out, stroke 0.7s ease-out;
}
.action__play-btn:hover path {
  stroke: none;
  fill: #6D31EE;
}
.action__play-btn .action__play-count {
  transition: color 0.7s ease-out, background 0.7s ease-out;
}
.action__play-btn:hover .action__play-count {
  color: #6D31EE;
}
.action__play-btn:focus path {
  fill: #FFFFFF;
  stroke: none;
}
.action__play-btn:focus .action__play-count {
  color: #FFFFFF;
}
.action__play-btn:focus {
  background: #AA9DFA;
}
.action__play-btn:active path {
  stroke: none;
  fill: #4F28A5;
}
.action__play-btn:active .action__play-count {
  color: #4F28A5;
}
/* ---------------------------------------------------------broadcast------------------------------------------------------------ */

.broadcast__content {
  grid-template-columns: 23% 1fr;
  grid-template-rows: 1fr;
  grid-gap: 30px;
  padding-top: 94px;
  margin-bottom: 107px;
}
.broadcast__content-one {
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: 1;
  align-self: flex-start;
}
.broadcast__content-two {
  grid-column-start: 1;
  grid-row-start: 1;
  align-self: flex-end;
  /* background: url(../img/broadcast-img/mic.png) no-repeat left 0 bottom 10px; */
}
.broadcast__content-two img {
  width: 65px;
  height: 89px;
}
.broadcast__list {
  display: grid;
  grid-column-start: 2;
  grid-row-start: 1;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  transform: translateY(13px);
}
.broadcast__title {
  margin: 0 0 12px 0;
  font-family: Muller;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 100%;
  color: var(--main__text-color);
}
.content__one-text {
  margin: 0 0 6px 0;
  width: fit-content;
  font-family: Muller;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #A1A6B4;
}
.choices__inner {
  position: relative;
  margin: 0;
  padding: 10px 70.33px 10px 6px;
  font-family: Muller;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--main__text-color);
  background: #E6E8EC;
  border-radius: 10px;
  z-index: 99;
}
.choices::before {
  position: absolute;
  right: 14px;
  top: 28%;
  content: url(../img/broadcast-img/Frame-author.svg);
  z-index: 999;
}
.is-open::before {
  transform: rotate(180deg);
}
.choices .choices__list--dropdown  {
  border-radius: 0 0 10px 10px;
  background: #FFFFFF;
  top: 35px;
}
.choices__item.choices__item--choice.choices__placeholder.choices__item--selectable:first-child {
  /* margin-top: 28px; */
  background-color: #FFFFFF;
}
.choices__item.choices__item--choice.choices__placeholder.choices__item--selectable:not(:last-child) {
  border-bottom: 1px solid #D2D5DD;
}
.is-open .choices__inner {
  border-radius: 10px;
}
.choices[data-type*=select-one]::after {
  display: none;
}
.is-selected {
  display: none;
}
.broadcast__button {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 10px 54px;
  font-family: Muller;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: var(--main__text-color);
  border: 2px solid #121723;
  border-radius: 77px;
  background-color: #FFFFFF;
  cursor: pointer;
  transition: color 0.7s ease-out, background 0.7s ease-out;
}
.broadcast__button:hover {
  color: #FFFFFF;
  background: #6D31EE;
}
.broadcast__button:active {
  color: #FFFFFF;
  background: #4F28A5;
}
.broadcast__button:focus {
  color: #FFFFFF;
  background: #AA9DFA;
  border-color: #6D31EE;
}
.content__two-desr {
  margin: 0 0 0 0;
  display: flex;
  align-items: center;
  font-family: Muller;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #A1A6B4;
  transform: translateY(10px);
}
.content__img {
  margin-bottom: 24px;
}
.item__title {
  margin: 0 0 4px 0;
  font-family: Muller;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: var(--main__text-color);
}
.text__one {
  display: block;
  margin-bottom: 34px;
  font-family: Muller;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #A1A6B4;
}
.text__two {
  position: absolute;
  bottom: 20px;
  display: flex;
  align-items: center;
  margin: 0 0 0 0;
  width: fit-content;
  font-family: Muller;
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #121723;
  cursor: pointer;
  transition: color 0.7s ease-out, fill 0.7s ease-out;
}
.broadcast__list-item .text__two path {
  transition: fill 0.7s ease-out;
}
.broadcast__list-item:hover .text__two,
.broadcast__list-item:hover .text__two path {
  fill: #6D31EE;
  color: #6D31EE;
  /* transition: color 0.7s ease-out;
  transition: fill 0.7s ease-out; */
}
.broadcast__list-item:active .text__two,
.broadcast__list-item:active .text__two path {
  color: #4F28A5;
  fill: #4F28A5;
  transition: color 0.3s ease-in-out;
  transition: fill 0.1s ease-in-out;
}
.broadcast__list-item:focus .text__two {
  background: #AA9DFA;
  color: #FFFFFF;
  transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
}
.broadcast__list-item:focus .text__two path {
  fill: #FFFFFF;
  transition: fill 0.7s ease-out;
}

.broadcast__list-item {
  position: relative;
  cursor: pointer;
  border: 1px solid #E6E8EC;
  transition: opacity 0.7s ease-out;
}
.broadcast__list-item picture {
  transition: opacity 0.7s ease-out
}
.broadcast__list-item:hover picture {
  opacity: 0.7;
}
.broadcast__list-item:active picture {
  opacity: 0.7;
}
.list__item-descr {
  padding: 22px 20px 20px 16px;
}
.choices__list--dropdown {
  padding-top: 16px;
}
.choices__item .choices__placeholder .choices__item--selectable {
  font-family: Muller;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--main__text-color);
}
.broadcast__item-img {
  display: flex;
}
.choices__list--single .choices__item {
  width: 100%;
  opacity: 1;
}
.choices__inner {
  border: none;
  transition: background 0.7s ease-out, outline 0.7s ease-out, border 0.7s ease-out;
}
.choices__inner:hover {
  background: #F5F6F7;
}
.choices__inner:focus {
  background: #E6E8EC;
  outline: 1px solid #6D31EE;
}
.choices[data-type*=select-one]:focus .choices__inner {
  border: 1px solid #6D31EE;
}
.choices__item--selectable:active {
  background: #D2D5DD;
}
.choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
  transition: background 0.3s ease-in-out;
}

.choices__list[aria-expanded] .choices__item--selectable.is-highlighted:hover {
  background: #F5F6F7;
}
.choices__list[aria-expanded] .choices__item--selectable.is-highlighted:focus {
  background: #AA9DFA;
}
.choices__list[aria-expanded] .choices__item--selectable.is-highlighted:active {
  background: #E6E8EC;
}
/* ---------------------------------------------------------guests------------------------------------------------------------ */

.guests {
  background-color: #121723;
}
.guests__title {
  margin: 0 0 12px 0;
  width: fit-content;
  font-family: Muller;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 100%;
  color: #FFFFFF;
}
.guests__text {
  display: inline-block;
  margin-bottom: 8px;
  font-family: Muller;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #A1A6B4;
}
.guests__descr {
  margin: 0 0 0 0;
  display: flex;
  align-items: flex-end;
  max-width: 70%;
  font-family: Muller;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  color: #A1A6B4;
}
.item__content-title {
  display: flex;
  align-items: center;
  margin: 0;
  font-family: Muller;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #FFFFFF;
}
.accordion__item {
  display: grid;
  cursor: pointer;
}
.accordion__item-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #AA9DFA;
}
.accordion__list:last-child {
  border-bottom: 1px solid #AA9DFA;
}
.accordion__list:first-child {
  border-bottom: 1px solid #AA9DFA;
}
.descr__list-item {
  font-family: Muller;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #FFFFFF;
  transition: color 0.7s ease-out;
}
.descr__list-item:hover {
  color:#AA9DFA;
  /* transition: color 0.3s ease-in-out; */
}
.guests__content-top {
  margin-bottom: 50px;
  padding-top: 94px;
}
.guests__content-bottom {
  display: grid;
  grid-template-columns: 65.5% 1fr;
  grid-template-rows: 1fr;
  padding-bottom: 93px;
  grid-gap: 0 30px;
}
.guest__card-social {
  margin-bottom: 13px;
  gap: 0 30px;
}
.social__item-guest {
  cursor: pointer;
}
.social__item-guest path {
  transition: fill 0.7s ease-out;
}
.social__item-guest:hover path {
  fill: #6D31EE;
}
.social__item-guest:active path {
  fill: #4F28A5;
}
.social__item-guest:focus path {
  fill: #AA9DFA;
}
.card__content-title {
  margin: 0 0 8px 0;
  display: flex;
  align-items: center;
  font-family: Muller;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #FFFFFF;
}
.card__content-descr {
  margin: 0 0 28px 0;
  font-family: Muller;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 180%;
  color: #A1A6B4;
}
.guest__button {
  margin-bottom: 93px;
  padding: 12px 19.5px;
  display: flex;
  align-items: center;
  text-align: center;
  font-family: Muller;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #AA9DFA;
  border: 2px solid #AA9DFA;
  border-radius: 77px;
  transition: color 0.7s ease-out, background 0.7s ease-out;
}
.guest__button:hover {
  color: #ffffff;
  background: #AA9DFA;
}
.guest__button:active {
  background: #4F28A5;
}
.guest__button:focus {
  background: #6D31EE;
}
.descr__list {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 16px 30px;
  padding: 29px 0 30px 0;
}
.guest__card-content {
  padding: 12px 0 0 0;
}

.ui-accordion-header-icon {
  display: none;
}
.ui-state-default {
  background: #121723;
  border-left: 0;
  border-right: 0;
}
.ui-accordion .ui-accordion-header {
  display: flex;
  margin: 0;
  padding: 22px 0 24px 0;
}
.ui-accordion .ui-accordion-content {
  padding: 0;
}
.ui-accordion-content {
  background: #121723;
  border: 0;
}
.ui-corner-all {
  border-radius: 0;
}
.ui-accordion-header-active.ui-state-active {
  border-color: #A1A6B4;
}
.ui-state-active svg {
  transform: rotate(180deg);
}
.accordion__item .item__content-title {
  transition: color 0.7s ease-in-out, background 0.7s ease-in-out;
}
.accordion__item:hover .item__content-title {
  color: #AA9DFA; 
}
.accordion__item circle {
  transition: stroke 0.7s ease-in-out;
}
.accordion__item:hover circle {
  stroke: #AA9DFA;
}
.accordion__item path {
  transition: stroke 0.7s ease-in-out;
}
.accordion__item:hover path {
  stroke: #AA9DFA;
}
.accordion__item:active .item__content-title {
  color: #AA9DFA; 
}
.accordion__item svg {
  transition: fill 0.7s ease-in-out;
}
.accordion__item:active svg {
  fill: #AA9DFA;
}
.accordion__item:active path {
  stroke: #FFFFFF;
}
.accordion__item:focus .item__content-title {
  color: #FFFFFF; 
  background: #292E39;
}
.accordion__item:focus circle {
  stroke: #AA9DFA;
}
.accordion__item:focus path {
  stroke: #AA9DFA;
}
.ui-accordion .ui-accordion-header {
  transition: background 0.7s ease-in-out;
}
.ui-accordion .ui-accordion-header:focus{
  background: #292E39;
}

/* ---------------------------------------------------------playlists------------------------------------------------------------ */

.radio__buttons-content {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 1fr;
  margin-bottom: 109px;
  padding: 94px 0 0 0;
  grid-gap: 0 45px;
}
.age__restriction-info {
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 1;
  align-self: end;
  transform: translateY(-108px);
}
.content__left {
  align-self: start;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
}
.radio__buttons {
  margin-bottom: 40px;
  flex-direction: column;
  gap: 20px 0;
  border-bottom: 1px solid#D2D5DD;
}
.radio__buttons-item:last-child {
  margin-bottom: 23px;
}
.playlists__title {
  margin: 0 0 12px 0;
  font-family: Muller;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 100%;
  color: var(--main__text-color);
}
.radio__buttons-title {
  margin: 0 0 10px 0;
  display: flex;
  align-items: center;
  width: fit-content;
  font-family: Muller;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #A1A6B4;
}
.radio__buttons-item {
  display: flex;
  align-items: center;
  width: fit-content;
  font-family: Muller;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #121723;
  gap: 0 14px;
  cursor: pointer;
}
.radio__check {
  position: absolute;
  width: 26px;
  height: 26px;
  accent-color: #6D31EE;
  z-index: -1;
  opacity: 0;
  cursor: pointer;
}
.restriction__descr {
  margin: 0;
  width: 90%;
  font-family: Muller;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #A1A6B4;
}
.copyright__info {
  display: block;
  margin-bottom: 6px;
  width: fit-content;
  font-family: Muller;
  font-style: italic;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: #A1A6B4;
}
.age__restriction-number {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #A1A6B4;
  border: 1px solid #A1A6B4;
  border-radius: 100px;
}
.playlist__list {
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  gap: 30px;
  transform: translateY(15px);
}
.descr__subtitle {
  margin: 0 0 4px 0;
  font-family: Muller;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: var(--main__text-color);
  /* transition: color 0.7s ease-out; */
}
.playlist__list-item {
  position: relative;
  width: 160px;
  border: 1px solid #E6E8EC;
  cursor: pointer;
}
.playlist__item-flag {
  position: absolute;
  top: 0;
  right: 0;
  width: 23px;
  height: 18px;
  border: 4px solid #121723;
}
.playlist__descr-text {
  margin: 0 0 0 0;
  font-family: Muller;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #A1A6B4;
  /* transition: color 0.7s ease-out; */
}
.playlist__item-descr {
  padding: 15px 16px 16px 16px;
}
.playlist__item-img {
  display: flex;
}
/* .radio__check {
  position: absolute;
  z-index: -1;
  opacity: 0;
} */
.checkmark {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
.checkmark::before {
  content: '';
  display: inline-block;
  width: 26px;
  height: 26px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #A1A6B4;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
.radio__check:checked+.checkmark::before {
  border: 7px solid #6D31EE;
  background-image: url("%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_63354_166)'%3E%3Ccircle cx='15' cy='15' r='13' fill='%236D31EE'/%3E%3Cg filter='url(%23filter0_d_63354_166)'%3E%3Ccircle cx='15' cy='15' r='6' fill='white'/%3E%3C/g%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d_63354_166' x='4' y='4' width='22' height='22' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset/%3E%3CfeGaussianBlur stdDeviation='2.5'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0.119541 0 0 0 0 0.0511111 0 0 0 0 0.266667 0 0 0 0.8 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_63354_166'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_63354_166' result='shape'/%3E%3C/filter%3E%3CclipPath id='clip0_63354_166'%3E%3Crect width='30' height='30' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
.radio__check:hover:not(:checked)+.checkmark::before {
  border: 1px solid #6D31EE;
  /* transition: border 0.1s ease-in-out; */
  transition: border 0.3s ease-out;
}
.radio__check:focus:not(:checked)+.checkmark::before {
  border: 2px solid #6D31EE;
  background-color: green;
  
}
.playlist__list-item  {
  transition: color 0.7s ease-out, 
              background 0.7s ease-out, 
              content 0.7s ease-out;
}
.playlist__list-item .playlist__item-img::before {
  transition: content 0.9s ease-out;
  
  
}
.playlist__list-item:hover .playlist__item-img::before {
  content: '';
  background: url(../img/playlists-img/condition-play-btn.svg) no-repeat center center;
  width: 49px;
  height: 49px;
  border-radius: 50%;
  position: absolute;
  animation-delay: 2s;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  /* transition: all 0.9s ease-out; */
}
.playlist__list-item .playlist__item-img,
.playlist__list-item .playlist__item-flag {
  transition: background 0.7s ease-out;
}
.playlist__list-item:hover .playlist__item-img,
.playlist__list-item:hover .playlist__item-flag {
  background: #121723;
  opacity: 0.8;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  z-index: 222;
}
.playlist__list-item:hover {
  background: #6D31EE;
}
.playlist__list-item .descr__subtitle,
.playlist__list-item .playlist__descr-text {
  transition: color 0.7s ease-out;
}
.playlist__list-item:hover .descr__subtitle,
.playlist__list-item:hover .playlist__descr-text {
  color: #FFFFFF;
}

.playlist__list-item:active::before {
  content: url(../img/playlists-img/play_btn49x49.svg);
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  transition: content 0.7s ease-out;
  z-index: 99;
}
.playlist__list-item:active .playlist__item-img,
.playlist__list-item:active .playlist__item-flag {
  background: #121723;
  opacity: 0.8;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: filter 0.7s ease-in-out, opacity 0.7s ease-out, background 0.7s ease-out;
}
.playlist__list-item:active {
  background: #4F28A5;
}
.playlist__list-item:active .descr__subtitle,
.playlist__list-item:active .playlist__descr-text {
  color: #FFFFFF;
}
.playlist__list-item:focus::before {
  content: url(../img/playlists-img/condition-play-btn.svg);
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  /* transition: all 0.7s ease-in-out; */
  z-index: 99;  
}
.playlist__list-item:focus .playlist__item-img,
.playlist__list-item:focus .playlist__item-flag {
  background-color: #121723;
  opacity: 0.8;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  /* transition: all 0.3s ease-in-out; */     
}
.playlist__list-item:focus {
  background: #AA9DFA;
  /* transition: background 0.7s ease-out;  */
}
.playlist__list-item:focus .descr__subtitle,
.playlist__list-item:focus .playlist__descr-text {
  color: #FFFFFF;
}
/* ---------------------------------------------------------adv------------------------------------------------------------ */

.adv {
  background: #292E39;
}
.adv__container {
  display: flex;
  justify-content: flex-end;
  background: url(../img/adv-img/new.png) no-repeat left 93px top 94px, 
              url(../img/adv-img/radio.png) no-repeat left 94px bottom 139px;
  background-size: auto;
}
.adv__content {
  padding-top: 94px;
  max-width: 445px;
  background: url(../img/adv-img/wave.png) no-repeat center 209px;
  background-size: auto;
}
.adv__title {
  margin: 0 0 48px 0;
  font-family: Muller;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 100%;
  color: #F0D288;
}
.adv__descr {
  margin: 0 0 13px 0;
  width: 94%;
  font-family: Muller;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 180%;
  color: #FFFFFF;
}
.adv__descr-two {
  margin: 0 0 30px 0;
  font-family: Muller;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 180%;
  color: #FFFFFF;
}
.adv__price {
  display: block;
  margin: 0 0 33px 0;
  width: fit-content;
  font-family: Muller;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 30px;
  color: #FFFFFF;
}
.adv__button {
  display: flex;
  align-items: center;
  margin: 0 0 133px 0;
  padding: 23px 11.5px;
  font-family: Muller;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  color: #F0D288;
  gap: 0 8px;
  border: 2px solid #F0D288;
  border-radius: 100px;
  transition: color 0.7s ease-out, background 0.7s ease-out;
}
.path__background:focus path {
  transition: fill 0.7s ease-out;
}
.adv__button:focus,
.path__background:focus path {
  color: var(--main__text-color);
  border-color: #F0D288;
  fill: #F0D288;
  background: #BB973E;
}
.adv__button:hover {
  color: var(--main__text-color);
  background: #F0D288;
}
.adv__button .path__background {
  transition: color 0.7s ease-out, background 0.7s ease-out, fill 0.7s ease-out;
}
.adv__button:hover .path__background {
  fill: var(--main__text-color);
}
.adv__button:hover .path__top-layer {
  fill: #F0D288;
  transition: fill 0.7s ease-out;
}
.adv__button:active {
  color: var(--main__text-color);
}
.adv__button:active .path__background {
  fill: var(--main__text-color);
}
.adv__button .path__top-layer {
  transition: fill 0.7s ease-out;
}
.adv__button:active .path__top-layer {
  fill: #BB973E;
}

/* ---------------------------------------------------------about------------------------------------------------------------ */

.about {
  background: #121723;
  /* position: relative; */
}
.about__container {
  position: relative;
}
.about__title {
  margin: 0 0 14px 0;
  width: fit-content;
  font-family: Muller;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 100%;
  color: #FFFFFF;
}
.about__subtitle {
  display: block;
  margin-bottom: 8px;
  width: fit-content;
  font-family: Muller;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #A1A6B4;
  }
.about__descr {
  margin: 0 0 29px 0;
  max-width: 634px;
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  color: #A1A6B4;
}
.about__text-content {
  padding-top: 94px;
  background: url(../img/about-img/Spiral.png) no-repeat top 94px right 284px, url(../img/about-img/Dawn.png) no-repeat top 113px right 1px;
}
.about__list-item {
  /* max-width: 255px; */
  padding: 0;
}
/* .about__list-item:nth-last-child(-n+2) { */
  /* display: none; */
/* } */
.about__list {
  margin-bottom: 30px;
  /* gap: 0 30px; */  
}
.about__item-img {
  margin-bottom: 29px;
}
.descr__title {
  display: flex;
  align-items: center;
  margin: 0 0 8px 0;
  font-family: Muller;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #FFFFFF;
}
.descr__text {
  margin: 0 0 0 0;
  font-family: Muller;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #A1A6B4;
}
.form__textarea {
  position: relative;
  padding: 30px;
  margin-bottom: 30px;
  width: 83%;
  min-height: 149px;
  font-family: Muller;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #A1A6B4;
  background: #121723;
  border: 1px solid #FFFFFF;
  border-radius: 30px;
  cursor: pointer;
  transition: background 0.7s ease-out, color 0.7s ease-out;
  outline: none;
}
.about__form {
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom: 91px;
}
.input__group {
  display: flex;
  width: 83%;
  gap: 0 30px;
}
.form__input-name {
  position: relative;
  margin-bottom: 30px;
  padding: 24px 29px;
  width: 50%;
  font-family: Muller;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #A1A6B4;
  background: #121723;
  border: 1px solid #FFFFFF;
  border-radius: 40px;
  cursor: pointer;
  transition: background 0.7s ease-out, color 0.7s ease-out;
  }
.form__input-email {
  display: flex;
  position: relative;
  margin-bottom: 30px;
  padding: 24px 29px;
  width: 100%;
  font-family: Muller;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #A1A6B4;
  background: #121723;
  border: 1px solid #FFFFFF;
  border-radius: 40px;
  cursor: pointer;
  transition: background 0.7s ease-out, color 0.7s ease-out;
  }
  .form__input-name:hover {
    background: #292E39;
  }
  .form__input-name:focus {
    background: #292E39;
    outline: none;
  }
  .form__input-name:active {
    color: #FFFFFF;
    background: #121723;
  }
  /* .form__input-name:valid {
    border: #D52B1E;
  } */
  .form__input-email:hover {
    background: #292E39;
  }
  .form__input-email:focus {
    background: #292E39;
    outline: none;
  }
  .form__input-email:active {
    color: #FFFFFF;
    background: #121723;
  }
  .form__textarea:hover {
    background: #292E39;
  }
  .form__textarea:focus {
    background: #292E39;
  }
  .form__textarea:active {
    color: #FFFFFF;
    background: #121723;
  }
  .form__check {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: fit-content;
  }
  .form__button {
    margin-bottom: 32px;
    padding: 25px 54px;
    width: fit-content;
    font-family: Muller;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    background: #6D31EE;
    border-radius: 40px;
    transition: color 0.7s ease-out, background 0.7s ease-out;
  }
  .form__button:hover {
    color: #FFFFFF;
    background: #AA9DFA;
  }
  .form__button:active {
    color: #FFFFFF;
    background: #4F28A5;
  }
  .form__button:focus{
    color: #FFFFFF;
    background: #AA9DFA;
    border-color: #4F28A5;
  }
  .form__checkbox {
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 7px;
    font-family: Muller;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
  }
  .form__checkbox-content {
    display: flex;
    align-items: center;
  }
  #labin {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
  #labin+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
  }
  #labin+label::before {
    content: '';
    display: inline-block;
    width: 14px;
    height: 14px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #FFFFFF;
    margin-right: 1px;
    background-repeat: no-repeat;
    background-position: center center;
  }
  #labin:checked+label::before {
    
    border-color: #FFFFFF;
    background-color: #121723;
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.94976 1.08233L4.00002 6.03208L1.17159 3.20365' stroke='%23AA9DFA' stroke-width='2'/%3E%3C/svg%3E%0A");
  }
  .swiper {
    width: 100%;
    height: 100%;
    /* position: relative; */
  }
  .swiper-wrapper {
    display: flex;
    flex-wrap: nowrap;
  }
  .swiper-button-prev::after {
    position: absolute;
    content: url(../img/about-img/pagination__left.svg);
    left: 15px;
    top: -103px;
  }
  .swiper-button-next::after {
    position: absolute;
    content: url(../img/about-img/pagination__rigth.svg);
    right: 14px;
    top: -103px;
  }
  .swiper-button-next, 
  .swiper-button-prev {
    width: 0;
  }
  .input__group {
    position: relative
  }
  .just-validate-error-label {
    position: absolute;
    display: flex;
    padding: 9px 30px;
    align-items: center;
    font-family: 'Muller';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #D52B1E;
    z-index: 99;
  }
 .email__id-lable {
  display: flex;
  width: 50%;
 }
/* ---------------------------------------------------------footer------------------------------------------------------------ */

.footer {
  background: url(../img/footer-img/wave-footer.png) no-repeat bottom 37px center #292E39;
  background-repeat: repeat-x;
}
.footer__container {
  flex-direction: column;
}
.footer__top {
  padding-top: 94px;
  justify-content: space-between;
  margin-bottom: 114px;
}
.copyright__block {
  align-self: center;
}
.footer__logo {
  margin-bottom: 21px;
}
.footer__socials{
  gap: 0 20px;
}
.social__item {
  cursor: pointer;
}
.social__item path {
  transition: fill 0.7s ease-out;
}
.social__item:hover path {
  fill: #6D31EE;
}
.social__item:focus path {
  fill: #AA9DFA;
}
.social__item:active path {
  fill: #4F28A5;
}
.list__item-link {
  width: fit-content;
  font-family: Muller;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #FFFFFF;
}
.footer__list {
  grid-template-columns: 22% 25% 1fr;
  justify-content: end;
  grid-gap: 9px 94px;
}
.copyright__block {
  margin-bottom: 10px;
  font-family: Muller;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 103.34%;
  color: #A1A6B4;
}

/* ---------------------------------------------------------modal------------------------------------------------------------ */

/* The Modal (background) */
.modal {
  display: none; 
  position: fixed; 
  z-index: 9999; 
  left: 0;
  top: 0;
  padding-top: 80px;
  width: 100%; 
  height: 100%; 
  overflow: hidden;
  background: rgba(0, 0, 0, 0.25);
  overflow-y: scroll;
  /* overflow: hidden; */
  /* transition: background 0.6s ease-out; */
  opacity: 1;
}
/* The Modal Content */
.modal__content {
  position: relative;
  margin: 0 auto; 
  padding: 60px;
  max-width: 824px;
  background-color: #121723;
  animation-name: grow;
  animation-duration: 1.5s;
}
@keyframes grow {
  0% {
    display: none;
    opacity: 0;
  }
  /* 1% {
    display: block;
    opacity: 0;
    transform: scale(0);
  } */
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.modal__title {
  margin: 0 0 12px 0;
  font-family: Muller;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 100%;
  color: #FFFFFF;
}
.modal__descr {
  margin: 0 0 26px 0;
  font-family: Muller;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #FFFFFF;
}
.sign__up-link {
  font-family: Muller;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #6D31EE;
  }
.modal__form {
  margin-bottom: 30px;
  flex-direction: column;
  border-bottom: 1px solid rgba(230, 232, 236, 0.4);
}
.modal__form > * {
  margin-bottom: 31px;
}
.modal__input-login,
.modal__input-password {
  padding: 23px 29px;
  width: 100%;
  font-family: Muller;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #A1A6B4;
  border: 1px solid #FFFFFF;
  border-radius: 40px;
}
.modal__btn {
  padding: 25px 54px;
  width: fit-content;
  font-family: Muller;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  background: #6D31EE;
  border-radius: 40px;
}
.modal__input-label {
  width: 75%;
}
.sign__up-using {
  display: inline-block;
  margin-bottom: 28px;
  font-family: Muller;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #FFFFFF;
}
.modal__social {
  align-items: center;
  width: fit-content;
  gap: 0 40px;
}
.social__item-link {
  display: flex;
}
/* The Close Button */
.modal__close-x {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 42px;
  height: 42px;
  cursor: pointer;
}
.modal__close-x circle,
.modal__close-x path {
  transition: stroke 0.7s ease-out;
}
.modal__close-x:focus circle,
.modal__close-x:focus path {
  stroke: #AA9DFA;
}
.modal__close-x:active circle,
.modal__close-x:active path {
  stroke: #4F28A5;
}
.modal__close-x:hover circle,
.modal__close-x:hover path {
  stroke:#6D31EE;
}
