 /*-------------------------------------------------------768px--------------------------------------------- */
 @media (max-width: 768px) {
    /* globe*/
    .container {
        padding-left: 39px;
        padding-right: 39px;
    }
    /* header*/
    .header__container {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: nowrap;
    }
    .col-sm-10 {
        width: 100%;
    }
    .header__nav {
        max-width: 68%;
    }
    /* hero */
    .hero__container {
        background-image: url(../img/hero__img/768.png);
        background-position: right 40px bottom 147.14px;
      }
    .hero__content-title {
        padding-bottom: 16px;
        font-size: 50px;
    }
    .header__nav-list {
        justify-content: space-between;
        max-width: 100%;
    }
    .nav__list-item:not(:last-child) {
        margin-right: 0;
    }
    .hero__content-descr {
        max-width: 345px;
    }
    /* about*/
    .content__two-item {
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
    }
    .about__content-one {
        margin-top: 86px;
    }
    .item__descr-about {
        width: 80%;
        line-height: 108%;
    }

    /* teachers */

    .teachers__content {
        gap: 24px 0;
    }
    .descr-1-btn {
        margin-top: 29px;
    }
    .descr-2-btn {
        margin-top: 76px;
    }
    .courses__cont {
        gap: 27px 0;
    }

    /* courses */

    .clocks__widget {
        top: 9px;
        right: 9px;
    }




    .descr-2-btn {
        margin-top: 79px;    
    }
    .descr-3-btn {
        margin-top: 100px;    
    }
    .descr-4-btn {
        margin-top: 28px;    
    }
    .upper-0 {
        background-image: url(../img/courses__img/768-1.jpg);
      }
    .upper-1 {
        background-image: url(../img/courses__img/768-2.jpg);
      }
    .upper-2 {
        background-image: url(../img/courses__img/768-3.jpg);
      }
    .upper-3 {
        background-image: url(../img/courses__img/768-4.jpg);
      }
 }

 /*-------------------------------------------------------614px-------------------------------------- */

 @media (max-width: 614px) {
    /*header*/
    /* .header__container { */
        /* justify-content: space-around; */
        /* align-items: center; */
        /* flex-direction: column; */
        /* min-height: 133px; */
    /* } */
    /*-------------------------courses---------------------------------*/
    .courses__btn {
        align-self: center;

    }
 }

 /*-------------------------------------------------------576px--------------------------------------------- */
@media (max-width: 576px) {
    /* globe */
    .container {
        padding-left: 33px;
        padding-right: 33px;
    }

    /* header*/
    .header {
        align-items: center;
        display: flex;
        min-height: 133px;
    }
    .header__container {
        flex-direction: column;
        /* min-height: 133px; */
    }
    .header__nav {
        max-width: 92%;
    }

      /*hero*/
    .hero__container {
        background-image: none !important;
      }
    .hero__content-title {
        padding-top: 78px;
    }
    .hero__button {
        margin-bottom: 134px;
    }
      /*about*/

    .about__content-one {
        margin-top: 81px;
    }
    .content__one-img {
        display: flex;
        align-self: flex-start;
    }
    .about__title {
        margin-bottom: 16px;
    }
    .item__descr-about {
        width: 100%;
    }
    .about__content-two {
        margin-bottom: 59px;
    }
     /* teachers */

    .teachers__content {
        padding-bottom: 73px;
    }

    /* courses */
    .courses__item-title {
        margin-bottom: 6px;
        width: 104%;
        line-height: 141%;
    }
    .courses__btn {
        padding: 20.5px 49px;
        width: 180px;
    }
    .courses__cont {
        gap: 30px 0;
    }
    .descr-1-btn {
        margin-top: 9px;
    }
    .descr-2-btn {
        margin-top: 57px;
    }
    .descr-3-btn {
        margin-top: 128px;
    }
    .descr-4-btn {
        margin-top: 33px;
    }

    .upper-0 {
        background-image: url(../img/courses__img/576-1.jpg);
      }
    .upper-1 {
        background-image: url(../img/courses__img/576-2.jpg);
      }
    .upper-2 {
        background-image: url(../img/courses__img/576-3.jpg);
      }
    .upper-3 {
        background-image: url(../img/courses__img/576-4.jpg);
      }
    .courses__container {
        margin-bottom: 80px;
    }

    /* footer*/

    .footer__social-list {
        margin: 30px 0 28px 0;
    }
}

/*-------------------------------------------------------510px--------------------------------------------- */

@media (max-width: 510px) {
    .container {
        padding-left: 33px;
        padding-right: 33px;
    }
    .header {
        min-height: 80px;
    }
    .header__container {
        flex-direction: row;
        justify-content: space-between;
    }
    .header__nav {
        display: none;
    }
    .burger {
        display: block !important;
    }
    .burger__line {
        transform: translateX(-50%);
      }

    /* about */

    .content__one-img {
        display: none;
    }


}


/*-------------------------------------------------------498px--------------------------------------------- */

    @media (max-width: 495px) {

        .hero__content-title {
            font-size: 30px;
        }
        .hero__content-descr {
            font-size: 16px;
        }
        .about__content-two {
            flex-direction: column;
            gap: 30px;
        }
        .content__two-item {
            flex-direction: row;
            align-items: center;
            width: 100%;
            gap: 30px;
        }
        .teachers__content {
            flex-direction: column;
        }
        .content-item {
            width: 100%;
        }
        .courses__cont {
            flex-direction: column;
        }
        .courses__item {
            width: 100%;
        }
    }

/*  ---------------------------------------------------------320px--------------------------------------------- */
@media (max-width: 320px) {
    /* globe*/
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }
    /*header*/
    .logo__img {
        min-width: 72px;
        height: 16px;
    }
    .burger__line {
        width: 20.625px;
        height: 2px;
    }
    /* hero */
    .hero__content-title {
        padding-top: 49px;
        padding-bottom: 6px;
    }
    .hero__content-descr {
        padding-bottom: 45px;
        line-height: 130%;
    }
    .hero__button {
        padding: 20.5px 53.5px;
        margin-bottom: 50px;
        font-size: 16px;
        line-height: 19px;
    }

    /* about */

    .about__title {
        margin-bottom: 4px;
        font-size: 20px;
        line-height: 130%;
    }
    .about__content-one {
        margin-top: 48px;
    }
    .about__content-two {
        margin-bottom: 48px;
    }
    .item__descr-about {
        line-height: 120%;
    }

    /* teachers */

    .teachers__title {
        padding-top: 49px;
        font-size: 20px;
        line-height: 100%;
    }
    .teachers__content {
        padding-bottom: 48px;
    }

    /* courses */

    .courses__title {
        margin-bottom: 26px;
        font-size: 20px;
        line-height: 100%;
    }
    .courses__item-title {
        margin-bottom: 9px;
        width: 100%;
        font-size: 18px;
        line-height: 130%;
    }
    .item__title-320 {
        width: 60%;
    }
    .courses__container {
        margin-top: 47px;
        margin-bottom: 50px;
    }
    .courses__btn {
        padding: 20.5px 55.5px;
        width: fit-content;
        font-size: 16px;
        line-height: 19px;
    }
    .descr-1-btn {
        margin-top: 81px;
    }
    .descr-2-btn {
        margin-top: 129px;
    }
    .descr-3-btn {
        margin-top: 155px;
    }
    .descr-4-btn {
        margin-top: 79px;
    }
    .upper-0 {
    background-image: url(../img/courses__img/320-1.jpg);
    }
    .upper-1 {
    background-image: url(../img/courses__img/320-2.jpg);
    }
    .upper-2 {
    background-image: url(../img/courses__img/320-3.jpg);
    }
    .upper-3 {
    background-image: url(../img/courses__img/320-4.jpg);
    }
 }















